* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 20px;
    
}

main {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;

}

.board {
    
    background-color: #000000;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3%;
    column-gap: 1.5%;

    width: 90%;
    height: 100%;
    margin-top: 2%;
}

.tile {
    background-color: #ffffff;
}

.red { 
    background-color: red;
}

.blue {
    background-color: blue;
}

footer {
    height: 20%;
    margin-top: 3%;

    display: flex;
    align-items: center;
}

.reset-button {
    height: 60%;
    padding: 0 3%;
    font-size: 20px;
}

#message {
    font-size: 40px;
    margin-left: 3%;
}